html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 80px;
}
.btn-toolbar .btn {
	margin-bottom: 5px;
}
.container-behind-nav {
	margin-top: 60px;
}
.page-header {
	padding-bottom: 20px;
}
#toast-container > div {
	opacity: 1; 
}
.dropdown-menu a {
	text-decoration: none;
}
#toast-container > div {
	opacity: 1;
}
.toast-top-center {
	top: 25px !important;
}
.modal-open {
    overflow: initial !important;
	padding-right: 0px !important;
}